<div class="row">

	<div class="contenedor d-flex justify-content-between align-items-center">

		<div class="logo">
			<img src="../../../assets/APLogo.png" id="aplogo">
		</div>

		<div class="redes">
			<a href="" target="_BLANK"><img src="../../../assets/linkedin.png" id="linkedin"></a>
			<a href="https://www.facebook.com/nico12k12/" target="_BLANK"><img src="../../../assets/facebook.png" id="facebook"></a>
			<a href="https://www.instagram.com/lnicoherrera/" target="_BLANK"><img src="../../../assets/instagram.png" id="instagram"></a>
			<a href="" target="_BLANK"><img src="../../../assets/twitter.png" id="twitter"></a>
			<a href="" target="_BLANK"><img src="../../../assets/github.png" id="github"></a>
			<button type="button" class="btn btn-outline-light">INGRESAR</button>
		</div>
	</div>
</div>

