<div class="row">
	<div>
		<h2>Hard & Soft Skills</h2>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="100"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="800"
		  [showSubtitle]="false"
		  [imageSrc]="'../../../assets/html.png'"
		  [showImage]="true"
		  [imageHeight]="100"
		  [imageWidth]="90"
		  [backgroundColor]="'#E1DDDC'"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="100"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="800"
		  [showSubtitle]="false"
		  [imageSrc]="'../../../assets/CSS.png'"
		  [showImage]="true"
		  [imageHeight]="110"
		  [imageWidth]="80"
		  [backgroundColor]="'#E1DDDC'"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="50"
		  [radius]="100"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="800"
		  [showSubtitle]="false"
		  [imageSrc]="'../../../assets/js.png'"
		  [showImage]="true"
		  [imageHeight]="100"
		  [imageWidth]="80"
		  [backgroundColor]="'#E1DDDC'"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="100"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="800"
		  [showSubtitle]="false"
		  [imageSrc]="'../../../assets/gitskill.png'"
		  [showImage]="true"
		  [imageHeight]="140"
		  [imageWidth]="140"
		  [backgroundColor]="'#E1DDDC'"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="100"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="800"
		  [showSubtitle]="false"
		  [imageSrc]="'../../../assets/grupal.png'"
		  [showImage]="true"
		  [imageHeight]="80"
		  [imageWidth]="80"
		  [backgroundColor]="'#E1DDDC'"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="100"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="800"
		  [showSubtitle]="false"
		  [imageSrc]="'../../../assets/eng.png'"
		  [showImage]="true"
		  [imageHeight]="80"
		  [imageWidth]="80"
		  [backgroundColor]="'#E1DDDC'"
		></circle-progress>
	</div>

</div>